<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cx.wms.mapper.CrkInventorySheetMapper">

    <resultMap type="CrkInventorySheet" id="CrkInventorySheetResult">
        <result property="isId" column="is_id"/>
        <result property="warWId" column="war_w_id"/>
        <result property="isCode" column="is_code"/>
        <result property="isResult" column="is_result"/>
        <result property="wId" column="w_id"/>
        <result property="isType" column="is_type"/>
        <result property="isStartTime" column="is_start_time"/>
        <result property="isEndTime" column="is_end_time"/>
        <result property="outStatus" column="out_status"/>
        <result property="inStatus" column="in_status"/>
        <result property="remark" column="remark"/>
        <result property="isManager" column="is_manager"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelte" column="is_delte"/>
        <result property="SheetStatus" column="sheet_status"/>
        <result property="create_user_name" column="create_user_name"/>
        <result property="update_user_name" column="update_user_name"/>
        <result property="warehouseName" column="warehouseName"/>
        <result property="manager" column="manager"/>
    </resultMap>

    <resultMap id="CrkInventorySheetCrkIsDetailsResult" type="CrkInventorySheet" extends="CrkInventorySheetResult">
        <collection property="crkIsDetailsList" notNullColumn="sub_isd_id" javaType="java.util.List"
                    resultMap="CrkIsDetailsResult"/>
    </resultMap>

    <resultMap type="CrkIsDetails" id="CrkIsDetailsResult">
        <result property="isdId" column="sub_isd_id"/>
        <result property="isId" column="sub_is_id"/>
        <result property="isCode" column="sub_is_code"/>
        <result property="orderId" column="sub_order_id"/>
        <result property="specCode" column="sub_spec_code"/>
        <result property="unit" column="sub_unit"/>
        <result property="countQuantity" column="sub_count_quantity"/>
        <result property="profitLossQuantity" column="sub_profit_loss_quantity"/>
        <result property="isStatus" column="sub_is_status"/>
        <result property="countAmount" column="sub_count_amount"/>
        <result property="iuPrice" column="sub_iu_price"/>
        <result property="remark" column="sub_remark"/>
        <result property="createBy" column="sub_create_by"/>
        <result property="createTime" column="sub_create_time"/>
        <result property="updateBy" column="sub_update_by"/>
        <result property="updateTime" column="sub_update_time"/>
        <result property="isDelte" column="sub_is_delte"/>
        <result property="gCode" column="sub_gCode"/>
    </resultMap>

    <sql id="selectCrkInventorySheetVo">
        SELECT crk_inventory_sheet.*,
               sys_user.nick_name  AS create_user_name,
               sys_user2.nick_name AS update_user_name,
               sys_user3.nick_name AS manager,
               warehouse.w_name    AS warehouseName
        FROM crk_inventory_sheet
                 LEFT JOIN sys_user ON crk_inventory_sheet.create_by = sys_user.user_id
                 LEFT JOIN sys_user AS sys_user2 ON crk_inventory_sheet.update_by = sys_user2.user_id
                 LEFT JOIN sys_user AS sys_user3 ON crk_inventory_sheet.is_manager = sys_user3.user_id
                 LEFT JOIN warehouse ON crk_inventory_sheet.w_id = warehouse.w_id
    </sql>

    <select id="selectCrkInventorySheetList" parameterType="CrkInventorySheet" resultMap="CrkInventorySheetResult">
        <include refid="selectCrkInventorySheetVo"/>
        <where>
            <if test="warWId != null ">and war_w_id = #{warWId}</if>
            <if test="isCode != null  and isCode != ''">and is_code = #{isCode}</if>
            <if test="isResult != null ">and is_result = #{isResult}</if>
            <if test="wId != null ">and w_id = #{wId}</if>
            <if test="isType != null  and isType != ''">and is_type = #{isType}</if>
            <if test="isStartTime != null ">and is_start_time = #{isStartTime}</if>
            <if test="isEndTime != null ">and is_end_time = #{isEndTime}</if>
            <if test="outStatus != null ">and out_status = #{outStatus}</if>
            <if test="inStatus != null ">and in_status = #{inStatus}</if>
            <if test="isManager != null ">and is_manager = #{isManager}</if>
            <if test="isDelte != null ">and is_delte = #{isDelte}</if>
        </where>
    </select>

    <select id="selectCrkInventorySheetByIsId" parameterType="Long" resultMap="CrkInventorySheetCrkIsDetailsResult">
        select a.is_id,
               a.is_code,
               a.is_result,
               a.w_id,
               a.is_type,
               a.is_start_time,
               a.is_end_time,
               a.out_status,
               a.in_status,
               a.remark,
               a.is_manager,
               a.create_by,
               a.create_time,
               a.update_by,
               a.update_time,
               a.is_delte,
               a.sheet_status,
               b.isd_id               as sub_isd_id,
               b.is_id                as sub_is_id,
               b.is_code              as sub_is_code,
               b.order_id             as sub_order_id,
               b.spec_code            as sub_spec_code,
               b.unit                 as sub_unit,
               b.count_quantity       as sub_count_quantity,
               b.profit_loss_quantity as sub_profit_loss_quantity,
               b.is_status            as sub_is_status,
               b.count_amount         as sub_count_amount,
               b.iu_price             as sub_iu_price,
               b.remark               as sub_remark,
               b.create_by            as sub_create_by,
               b.create_time          as sub_create_time,
               b.update_by            as sub_update_by,
               b.update_time          as sub_update_time,
               b.is_delte             as sub_is_delte,
               b.g_code               as sub_g_code
        from crk_inventory_sheet a
                 left join crk_is_details b on b.is_id = a.is_id
        where a.is_id = #{isId}
    </select>

    <insert id="insertCrkInventorySheet" parameterType="CrkInventorySheet">
        insert into crk_inventory_sheet
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="isId != null">is_id,</if>
            <if test="isCode != null and isCode != ''">is_code,</if>
            <if test="isResult != null">is_result,</if>
            <if test="wId != null">w_id,</if>
            <if test="isType != null">is_type,</if>
            <if test="isStartTime != null">is_start_time,</if>
            <if test="isEndTime != null">is_end_time,</if>
            <if test="outStatus != null">out_status,</if>
            <if test="inStatus != null">in_status,</if>
            <if test="SheetStatus != null">sheet_status,</if>
            <if test="remark != null">remark,</if>
            <if test="isManager != null">is_manager,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDelte != null">is_delte,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="isId != null">#{isId},</if>
            <if test="isCode != null and isCode != ''">#{isCode},</if>
            <if test="isResult != null">#{isResult},</if>
            <if test="wId != null">#{wId},</if>
            <if test="isType != null">#{isType},</if>
            <if test="isStartTime != null">#{isStartTime},</if>
            <if test="isEndTime != null">#{isEndTime},</if>
            <if test="outStatus != null">#{outStatus},</if>
            <if test="inStatus != null">#{inStatus},</if>
            <if test="SheetStatus != null">#{SheetStatus},</if>
            <if test="remark != null">#{remark},</if>
            <if test="isManager != null">#{isManager},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDelte != null">#{isDelte},</if>
        </trim>
    </insert>

    <update id="updateCrkInventorySheet" parameterType="CrkInventorySheet">
        update crk_inventory_sheet
        <trim prefix="SET" suffixOverrides=",">
            <if test="isCode != null and isCode != ''">is_code = #{isCode},</if>
            <if test="isResult != null">is_result = #{isResult},</if>
            <if test="wId != null">w_id = #{wId},</if>
            <if test="isType != null and isType != ''">is_type = #{isType},</if>
            <if test="isStartTime != null">is_start_time = #{isStartTime},</if>
            <if test="isEndTime != null">is_end_time = #{isEndTime},</if>
            <if test="outStatus != null">out_status = #{outStatus},</if>
            <if test="inStatus != null">in_status = #{inStatus},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="isManager != null">is_manager = #{isManager},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDelte != null">is_delte = #{isDelte},</if>
            <if test="SheetStatus != null">sheet_status = #{SheetStatus},</if>
        </trim>
        where is_id = #{isId}
    </update>

    <delete id="deleteCrkInventorySheetByIsId" parameterType="Long">
        delete
        from crk_inventory_sheet
        where is_id = #{isId}
    </delete>

    <delete id="deleteCrkInventorySheetByIsIds" parameterType="String">
        delete from crk_inventory_sheet where is_id in
        <foreach item="isId" collection="array" open="(" separator="," close=")">
            #{isId}
        </foreach>
    </delete>

    <delete id="deleteCrkIsDetailsByIsIds" parameterType="String">
        delete from crk_is_details where is_id in
        <foreach item="isId" collection="array" open="(" separator="," close=")">
            #{isId}
        </foreach>
    </delete>

    <delete id="deleteCrkIsDetailsByIsId" parameterType="Long">
        delete
        from crk_is_details
        where is_id = #{isId}
    </delete>

    <insert id="batchCrkIsDetails">
        insert into crk_is_details(is_id, is_code, order_id,count_quantity,
        profit_loss_quantity, is_status, count_amount, iu_price, remark, create_by, create_time, update_by, update_time,
        is_delte, g_code) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.isId}, #{item.isCode}, #{item.orderId},
            #{item.countQuantity}, #{item.profitLossQuantity}, #{item.isStatus}, #{item.countAmount}, #{item.iuPrice},
            #{item.remark}, #{item.createBy}, #{item.createTime}, #{item.updateBy}, #{item.updateTime}, #{item.isDelte},
            #{item.gCode})
        </foreach>
    </insert>

    <select id="findIsCode" resultType="String">
        SELECT `is_code`
        FROM `crk_inventory_sheet`
        ORDER BY `is_id` DESC
        LIMIT 1;
    </select>


    <!--  Temp : 未测试的SQL代码 -->
    <sql id="Temp">
        SELECT crk_inventory_sheet.*,
               sys_user.nick_name  AS create_user_name,
               sys_user2.nick_name AS update_user_name,
               sys_user3.nick_name AS manager,
               warehouse.w_name    AS warehouseName
        FROM crk_inventory_sheet
                 LEFT JOIN sys_user ON crk_inventory_sheet.create_by = sys_user.user_id
                 LEFT JOIN sys_user AS sys_user2 ON crk_inventory_sheet.update_by = sys_user2.user_id
                 LEFT JOIN sys_user AS sys_user3 ON crk_inventory_sheet.is_manager = sys_user3.user_id
                 LEFT JOIN warehouse ON crk_inventory_sheet.w_id = warehouse.w_id;
    </sql>

    <!-- 查询仓库名称  -->
    <select id="findWareHouse" resultType="WareHouse">
        SELECT `w_id`, `w_name`
        FROM `warehouse`
        WHERE TRUE;
    </select>

    <!--  查询所有用户  -->
    <select id="findAllUser" resultType="User">
        SELECT `user_id`, `nick_name`
        FROM `sys_user`
        WHERE TRUE
    </select>

    <!--  查询所有货品信息  -->
    <select id="findAllHpGoods">
        SELECT `g_code`, `g_name`
        FROM `hp_goods`
        WHERE TRUE;
    </select>

    <!--  查询最新Is_id  -->
    <select id="findIsId">
        SELECT `is_id`
        FROM `crk_inventory_sheet`
        ORDER BY `is_id` DESC
        LIMIT 1;
    </select>

    <!--  查询表状态sheet_status  -->
    <select id="findSheetStatus">
        SELECT `sheet_status`
        FROM `crk_inventory_sheet`
        WHERE `is_id` = #{isId}
    </select>

    <!--  更新表状态sheet_status  -->
    <update id="updateSheetStatus">
        UPDATE `crk_inventory_sheet` SET `sheet_status` = #{stateCode} WHERE `is_id` = #{isId}
    </update>

    <!--  更新盘点结果   -->
    <update id="updateIsResult">
        UPDATE `crk_inventory_sheet` SET `is_result` = #{isResult} WHERE `is_id` = #{isId}
    </update>


</mapper>