<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cx.units.mapper.ConsumerMapper">
    
    <resultMap type="Consumer" id="ConsumerResult">
        <result property="cId"    column="c_id"    />
        <result property="fId"    column="f_id"    />
        <result property="cCode"    column="c_code"    />
        <result property="cName"    column="c_name"    />
        <result property="industry"    column="industry"    />
        <result property="cSource"    column="c_source"    />
        <result property="contactPerson"    column="contact_person"    />
        <result property="contactNumber"    column="contact_number"    />
        <result property="email"    column="email"    />
        <result property="principalId"    column="principal_id"    />
        <result property="cAddress"    column="c_address"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDelte"    column="is_delte"    />
    </resultMap>

    <resultMap id="ConsumerFinanceResult" type="Consumer" extends="ConsumerResult">
        <collection property="finance" notNullColumn="sub_f_id" resultMap="FinanceResult" />
    </resultMap>

    <resultMap type="Finance" id="FinanceResult">
        <result property="fId"    column="sub_f_id"    />
        <result property="sCode"    column="sub_s_code"    />
        <result property="cId"    column="sub_c_id"    />
        <result property="accountName"    column="sub_account_name"    />
        <result property="tiNumber"    column="sub_ti_Number"    />
        <result property="bankAccount"    column="sub_bank_account"    />
        <result property="bankDeposit"    column="sub_bank_deposit"    />
        <result property="aobAddress"    column="sub_aob_address"    />
    </resultMap>

    <sql id="selectConsumerVo">
        select a.c_id, a.f_id, a.c_code, a.c_name, a.industry, a.c_source, a.contact_person, a.contact_number, a.email, a.principal_id, a.c_address, a.remark, a.status, a.create_by, a.create_time, a.update_by, a.update_time, a.is_delte,
               b.f_id as sub_f_id, b.s_code as sub_s_code, b.c_id as sub_c_id, b.account_name as sub_account_name, b.ti_Number as sub_ti_Number, b.bank_account as sub_bank_account, b.bank_deposit as sub_bank_deposit, b.aob_address as sub_aob_address
        from wldw_consumer a
                 left join finance b on b.f_id = a.f_id
    </sql>

    <select id="selectConsumerList" parameterType="Consumer" resultMap="ConsumerFinanceResult">
        <include refid="selectConsumerVo"/>
        <where>  
            <if test="cCode != null  and cCode != ''"> and c_code like concat('%', #{cCode}, '%') or c_name like concat('%', #{cName}, '%')</if>
            <if test="industry != null "> and industry = #{industry}</if>
            <if test="contactPerson != null  and contactPerson != ''"> and contact_person like concat('%', #{contactPerson}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectConsumerByCId" parameterType="Long" resultMap="ConsumerFinanceResult">
        select a.c_id, a.f_id, a.c_code, a.c_name, a.industry, a.c_source, a.contact_person, a.contact_number, a.email, a.principal_id, a.c_address, a.remark, a.status, a.create_by, a.create_time, a.update_by, a.update_time, a.is_delte,
 b.f_id as sub_f_id, b.s_code as sub_s_code, b.c_id as sub_c_id, b.account_name as sub_account_name, b.ti_Number as sub_ti_Number, b.bank_account as sub_bank_account, b.bank_deposit as sub_bank_deposit, b.aob_address as sub_aob_address
        from wldw_consumer a
        left join finance b on b.f_id = a.f_id
        where a.c_id = #{cId}
    </select>
        
    <insert id="insertConsumer" parameterType="Consumer">
        insert into wldw_consumer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cId != null">c_id,</if>
            <if test="fId != null">f_id,</if>
            <if test="cCode != null and cCode != ''">c_code,</if>
            <if test="cName != null and cName != ''">c_name,</if>
            <if test="industry != null">industry,</if>
            <if test="cSource != null">c_source,</if>
            <if test="contactPerson != null and contactPerson != ''">contact_person,</if>
            <if test="contactNumber != null and contactNumber != ''">contact_number,</if>
            <if test="email != null and email != ''">email,</if>
            <if test="principalId != null">principal_id,</if>
            <if test="cAddress != null and cAddress != ''">c_address,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDelte != null">is_delte,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cId != null">#{cId},</if>
            <if test="fId != null">#{fId},</if>
            <if test="cCode != null and cCode != ''">#{cCode},</if>
            <if test="cName != null and cName != ''">#{cName},</if>
            <if test="industry != null">#{industry},</if>
            <if test="cSource != null">#{cSource},</if>
            <if test="contactPerson != null and contactPerson != ''">#{contactPerson},</if>
            <if test="contactNumber != null and contactNumber != ''">#{contactNumber},</if>
            <if test="email != null and email != ''">#{email},</if>
            <if test="principalId != null">#{principalId},</if>
            <if test="cAddress != null and cAddress != ''">#{cAddress},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDelte != null">#{isDelte},</if>
         </trim>
    </insert>

    <update id="updateConsumer" parameterType="Consumer">
        update wldw_consumer
        <trim prefix="SET" suffixOverrides=",">
            <if test="fId != null">f_id = #{fId},</if>
            <if test="cCode != null and cCode != ''">c_code = #{cCode},</if>
            <if test="cName != null and cName != ''">c_name = #{cName},</if>
            <if test="industry != null">industry = #{industry},</if>
            <if test="cSource != null">c_source = #{cSource},</if>
            <if test="contactPerson != null and contactPerson != ''">contact_person = #{contactPerson},</if>
            <if test="contactNumber != null and contactNumber != ''">contact_number = #{contactNumber},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="principalId != null">principal_id = #{principalId},</if>
            <if test="cAddress != null and cAddress != ''">c_address = #{cAddress},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDelte != null">is_delte = #{isDelte},</if>
        </trim>
        where c_id = #{cId}
    </update>

    <update id="updateFinance" parameterType="Finance">
        update finance
        <trim prefix="SET" suffixOverrides=",">
            <if test="accountName != null and accountName != ''">account_name = #{accountName},</if>
            <if test="tiNumber != null and tiNumber != ''">ti_Number = #{tiNumber},</if>
            <if test="bankAccount != null and bankAccount != ''">bank_account = #{bankAccount},</if>
            <if test="bankDeposit != null and bankDeposit != ''">bank_deposit = #{bankDeposit},</if>
            <if test="aobAddress != null and aobAddress != ''">aob_address = #{aobAddress},</if>
        </trim>
        where f_Id = #{fId}
    </update>

    <delete id="deleteConsumerByCId" parameterType="Long">
        delete from wldw_consumer where c_id = #{cId}
    </delete>

    <delete id="deleteConsumerByCIds" parameterType="String">
        delete from wldw_consumer where c_id in 
        <foreach item="cId" collection="array" open="(" separator="," close=")">
            #{cId}
        </foreach>
    </delete>
    
    <delete id="deleteFinanceByFIds" parameterType="String">
        delete from finance where f_id in 
        <foreach item="fId" collection="array" open="(" separator="," close=")">
            #{fId}
        </foreach>
    </delete>

    <delete id="deleteFinanceByFId" parameterType="Long">
        delete from finance where f_id = #{fId}
    </delete>

    <insert id="insertFinance" useGeneratedKeys="true" keyProperty="fId">
        insert into finance(s_code, c_id, account_name, ti_Number, bank_account, bank_deposit, aob_address) values
        (#{sCode}, #{cId}, #{accountName}, #{tiNumber}, #{bankAccount}, #{bankDeposit}, #{aobAddress})
    </insert>

    <select id="getConsumerCode" resultMap="ConsumerResult">
        select * from wldw_consumer order by c_id desc limit 1;
    </select>
</mapper>