<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cx.wms.mapper.CrkOutDetailsMapper">

    <resultMap type="CrkOutDetails" id="CrkOutDetailsResult">
        <!-- 映射主键 -->
        <id property="omId" column="om_id"/>
        <!-- 其他字段映射 -->
        <result property="outId" column="out_id"/>
        <result property="orderId" column="order_id"/>
        <result property="unit" column="unit"/>
        <result property="itemQuantity" column="item_quantity"/>
        <result property="quantityShipped" column="quantity_shipped"/>
        <result property="undeliveredQuantity" column="undelivered_quantity"/>
        <result property="currOutQuantity" column="curr_out_quantity"/>
        <result property="batchNumber" column="batch_number"/>
        <result property="odRemark" column="od_remark"/>
        <result property="barcode" column="barcode"/>
        <result property="odCreateBy" column="od_create_by"/>
        <result property="odCreateTime" column="od_create_time"/>
        <result property="odUpdateBy" column="od_update_by"/>
        <result property="odUpdateTime" column="od_update_time"/>
        <result property="odIsDelete" column="od_is_delete"/>
        <result property="slId" column="sl_id"/>
        <result property="gCode" column="g_code"/>
        <result property="gId" column="g_id"/>
        <result property="outBound" column="out_bound"/>
        <result property="notShipped" column="not_shipped"/>
        <result property="money" column="money"/>
        <!-- 字符串类型的关联字段 -->
        <result property="createUser" column="create_username"/>
        <result property="updateUser" column="update_username"/>
        <result property="goods" column="g_name"/>
        <result property="warehouse" column="warehouse_name"/>
    </resultMap>


    <select id="selectAllWithUser" resultMap="CrkOutDetailsResult">
        SELECT
            od.om_id,
            od.out_id,
            od.order_id,
            od.unit,
            od.item_quantity,
            od.quantity_shipped,
            od.undelivered_quantity,
            od.curr_out_quantity,
            od.batch_number,
            od.remark AS od_remark,
            od.barcode,
            od.create_by AS od_create_by,
            od.create_time AS od_create_time,
            od.update_by AS od_update_by,
            od.update_time AS od_update_time,
            od.is_delte AS od_is_delete,
            od.sl_id,
            od.g_code,
            od.g_id,
            od.out_bound,
            od.not_shipped,
            od.money,
            u1.user_name AS create_username,
            u2.user_name AS update_username,
            hg.g_name,
            wm.w_name AS warehouse_name
        FROM
            crk_out_details od
                LEFT JOIN sys_user u1 ON od.create_by = u1.user_id
                LEFT JOIN sys_user u2 ON od.update_by = u2.user_id
                LEFT JOIN hp_goods hg ON od.g_id = hg.g_id
                LEFT JOIN crk_out_management om ON od.out_id = om.out_id
                LEFT JOIN warehouse wm ON om.w_id = wm.w_id
    </select>

    <sql id="selectCrkOutDetailsVo">
        SELECT
            od.om_id,
            od.item_quantity,
            od.out_id,
            od.order_id,
            od.remark AS od_remark,
            od.create_by AS od_create_by,
            od.create_time AS od_create_time,
            od.update_by AS od_update_by,
            od.update_time AS od_update_time,
            od.is_delte AS od_is_delete,
            od.sl_id,
            od.g_code,
            od.g_id,
            od.out_bound,
            od.not_shipped,
            od.money,
            u1.nick_name AS create_username,
            u2.nick_name AS update_username,
            hg.g_name,
            wm.w_name AS warehouse_name
        FROM
            crk_out_details od
                LEFT JOIN sys_user u1 ON od.create_by = u1.user_id
                LEFT JOIN sys_user u2 ON od.update_by = u2.user_id
                LEFT JOIN hp_goods hg ON od.g_id = hg.g_id
                LEFT JOIN crk_out_management om ON od.out_id = om.out_id
                LEFT JOIN warehouse wm ON om.w_id = wm.w_id
    </sql>

    <select id="selectCrkOutDetailsList" parameterType="CrkOutDetails" resultMap="CrkOutDetailsResult">
        <include refid="selectCrkOutDetailsVo"/>
        <where>
            <if test="outOutId != null ">and out_out_id = #{outOutId}</if>
            <if test="outId != null ">and out_id = #{outId}</if>
            <if test="orderId != null ">and order_id = #{orderId}</if>
            <if test="unit != null  and unit != ''">and unit = #{unit}</if>
            <if test="itemQuantity != null ">and item_quantity = #{itemQuantity}</if>
            <if test="quantityShipped != null ">and quantity_shipped = #{quantityShipped}</if>
            <if test="undeliveredQuantity != null ">and undelivered_quantity = #{undeliveredQuantity}</if>
            <if test="currOutQuantity != null ">and curr_out_quantity = #{currOutQuantity}</if>
            <if test="batchNumber != null ">and batch_number = #{batchNumber}</if>
            <if test="barcode != null  and barcode != ''">and barcode = #{barcode}</if>
            <if test="isDelte != null ">and is_delte = #{isDelte}</if>
        </where>
    </select>

    <select id="selectCrkOutDetailsByOmId" parameterType="Long" resultMap="CrkOutDetailsResult">
        <include refid="selectCrkOutDetailsVo"/>
        where om_id = #{omId}
    </select>

    <insert id="insertCrkOutDetails" parameterType="CrkOutDetails">
        insert into crk_out_details
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="omId != null">om_id,</if>
            <if test="outOutId != null">out_out_id,</if>
            <if test="outId != null">out_id,</if>
            <if test="orderId != null">order_id,</if>
            <if test="unit != null and unit != ''">unit,</if>
            <if test="itemQuantity != null">item_quantity,</if>
            <if test="quantityShipped != null">quantity_shipped,</if>
            <if test="undeliveredQuantity != null">undelivered_quantity,</if>
            <if test="currOutQuantity != null">curr_out_quantity,</if>
            <if test="batchNumber != null">batch_number,</if>
            <if test="remark != null">remark,</if>
            <if test="barcode != null and barcode != ''">barcode,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDelte != null">is_delte,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="omId != null">#{omId},</if>
            <if test="outOutId != null">#{outOutId},</if>
            <if test="outId != null">#{outId},</if>
            <if test="orderId != null">#{orderId},</if>
            <if test="unit != null and unit != ''">#{unit},</if>
            <if test="itemQuantity != null">#{itemQuantity},</if>
            <if test="quantityShipped != null">#{quantityShipped},</if>
            <if test="undeliveredQuantity != null">#{undeliveredQuantity},</if>
            <if test="currOutQuantity != null">#{currOutQuantity},</if>
            <if test="batchNumber != null">#{batchNumber},</if>
            <if test="remark != null">#{remark},</if>
            <if test="barcode != null and barcode != ''">#{barcode},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDelte != null">#{isDelte},</if>
        </trim>
    </insert>

    <update id="updateCrkOutDetails" parameterType="CrkOutDetails">
        update crk_out_details
        <trim prefix="SET" suffixOverrides=",">
            <if test="outOutId != null">out_out_id = #{outOutId},</if>
            <if test="outId != null">out_id = #{outId},</if>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="unit != null and unit != ''">unit = #{unit},</if>
            <if test="itemQuantity != null">item_quantity = #{itemQuantity},</if>
            <if test="quantityShipped != null">quantity_shipped = #{quantityShipped},</if>
            <if test="undeliveredQuantity != null">undelivered_quantity = #{undeliveredQuantity},</if>
            <if test="currOutQuantity != null">curr_out_quantity = #{currOutQuantity},</if>
            <if test="batchNumber != null">batch_number = #{batchNumber},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="barcode != null and barcode != ''">barcode = #{barcode},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDelte != null">is_delte = #{isDelte},</if>
        </trim>
        where om_id = #{omId}
    </update>

    <delete id="deleteCrkOutDetailsByOmId" parameterType="Long">
        delete
        from crk_out_details
        where om_id = #{omId}
    </delete>

    <delete id="deleteCrkOutDetailsByOmIds" parameterType="String">
        delete from crk_out_details where om_id in
        <foreach item="omId" collection="array" open="(" separator="," close=")">
            #{omId}
        </foreach>
    </delete>

    <select id="findCrkOutNumber">
        SELECT COUNT(*)
        FROM crk_out_details
    </select>


</mapper>