<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cx.hpxx.mapper.HpGoodsTypeMapper">
    
    <resultMap type="HpGoodsType" id="HpGoodsTypeResult">
        <result property="gtId"    column="gt_id"    />
        <result property="gtCode"    column="gt_code"    />
        <result property="gtName"    column="gt_name"    />
        <result property="sort"    column="sort"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="parent"    column="parent"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="isDelte"    column="is_delte"    />
    </resultMap>

    <sql id="selectHpGoodsTypeVo">
        select gt_id, gt_code, gt_name, sort, status, remark, parent, create_by, create_time, is_delte from hp_goods_type
    </sql>

    <select id="selectHpGoodsTypeList" parameterType="HpGoodsType" resultMap="HpGoodsTypeResult">
        <include refid="selectHpGoodsTypeVo"/>
        <where>  
            <if test="gtName != null  and gtName != ''"> and gt_name like concat('%', #{gtName}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
        </where>
    </select>
    
    <select id="selectHpGoodsTypeByGtId" parameterType="Long" resultMap="HpGoodsTypeResult">
        <include refid="selectHpGoodsTypeVo"/>
        where gt_id = #{gtId}
    </select>
        
    <insert id="insertHpGoodsType" parameterType="HpGoodsType" useGeneratedKeys="true" keyProperty="gtId">
        insert into hp_goods_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gtCode != null and gtCode != ''">gt_code,</if>
            <if test="gtName != null and gtName != ''">gt_name,</if>
            <if test="sort != null">sort,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="parent != null and parent != ''">parent,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="isDelte != null">is_delte,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gtCode != null and gtCode != ''">#{gtCode},</if>
            <if test="gtName != null and gtName != ''">#{gtName},</if>
            <if test="sort != null">#{sort},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="parent != null and parent != ''">#{parent},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="isDelte != null">#{isDelte},</if>
         </trim>
    </insert>

    <update id="updateHpGoodsType" parameterType="HpGoodsType">
        update hp_goods_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="gtCode != null and gtCode != ''">gt_code = #{gtCode},</if>
            <if test="gtName != null and gtName != ''">gt_name = #{gtName},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="parent != null and parent != ''">parent = #{parent},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="isDelte != null">is_delte = #{isDelte},</if>
        </trim>
        where gt_id = #{gtId}
    </update>

    <delete id="deleteHpGoodsTypeByGtId" parameterType="Long">
        delete from hp_goods_type where gt_id = #{gtId}
    </delete>

    <delete id="deleteHpGoodsTypeByGtIds" parameterType="String">
        delete from hp_goods_type where gt_id in 
        <foreach item="gtId" collection="array" open="(" separator="," close=")">
            #{gtId}
        </foreach>
    </delete>
</mapper>