<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cx.order.mapper.OrderSalesDetailsMapper">

    <resultMap type="OrderSalesDetails" id="OrderSalesDetailsResult">
        <result property="sdId" column="sd_id"/>
        <result property="sCode" column="s_code"/>
        <result property="gCode" column="g_code"/>
        <result property="salesVolume" column="sales_volume"/>
        <result property="salesAmount" column="sales_amount"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelte" column="is_delte"/>
        <association property="hpGoods" javaType="HpGoods" resultMap="HpGoodsResult"/>
    </resultMap>

    <resultMap type="HpGoods" id="HpGoodsResult">
        <result property="gId" column="g_id"/>
        <result property="gtId" column="gt_id"/>
        <result property="gCode" column="g_code"/>
        <result property="gName" column="g_name"/>
        <result property="gUnit" column="g_unit"/>
        <result property="sort" column="sort"/>
        <result property="status" column="status"/>
        <result property="specCode" column="spec_code"/>
        <result property="sId" column="s_id"/>
        <result property="remark" column="remark"/>
        <result property="orPrice" column="or_price"/>
        <result property="wrPrice" column="wr_price"/>
        <result property="hasShelfLife" column="has_shelf_life"/>
        <result property="warningDays" column="warning_days"/>
        <result property="itemLimit" column="item_limit"/>
        <result property="lowerLimit" column="lower_limit"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="isDelte" column="is_delte"/>
        <result property="qualityG" column="quality_g"/>
    </resultMap>
    <sql id="selectOrderSalesDetailsVo">
        select sd_id,
               s_code,
               g_code,
               sales_volume,
               sales_amount,
               remark,
               create_by,
               create_time,
               update_by,
               update_time,
               is_delte
        from order_d_sales
    </sql>

    <select id="selectOrderSalesDetailsList" parameterType="OrderSalesDetails" resultMap="OrderSalesDetailsResult">
        <include refid="selectOrderSalesDetailsVo"/>
        <where>
            <if test="sCode != null  and sCode != ''">and s_code = #{sCode}</if>
            <if test="gCode != null  and gCode != ''">and g_code = #{gCode}</if>
            <if test="salesVolume != null ">and sales_volume = #{salesVolume}</if>
            <if test="salesAmount != null ">and sales_amount = #{salesAmount}</if>
            <if test="isDelte != null ">and is_delte = #{isDelte}</if>
        </where>
    </select>

    <select id="selectOrderSalesDetailsBySdId" parameterType="Long" resultMap="OrderSalesDetailsResult">
        <include refid="selectOrderSalesDetailsVo"/>
        where sd_id = #{sdId}
    </select>

    <insert id="insertOrderSalesDetails" parameterType="OrderSalesDetails" useGeneratedKeys="true" keyProperty="sdId">
        insert into order_d_sales(s_code,g_code,sales_volume,sales_amount,create_by,create_time,update_by,update_time) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.sCode},#{item.gCode},#{item.salesVolume},#{item.salesAmount},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime})
        </foreach>
    </insert>

    <update id="updateOrderSalesDetails" parameterType="OrderSalesDetails">
        update order_d_sales
        <trim prefix="SET" suffixOverrides=",">
            <if test="sCode != null and sCode != ''">s_code = #{sCode},</if>
            <if test="gCode != null and gCode != ''">g_code = #{gCode},</if>
            <if test="salesVolume != null">sales_volume = #{salesVolume},</if>
            <if test="salesAmount != null">sales_amount = #{salesAmount},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDelte != null">is_delte = #{isDelte},</if>
        </trim>
        where sd_id = #{sdId}
    </update>

    <delete id="deleteOrderSalesDetailsBySdId" parameterType="Long">
        delete
        from order_d_sales
        where sd_id = #{sdId}
    </delete>

    <delete id="deleteOrderSalesDetailsBySdIds" parameterType="String">
        delete from order_d_sales where sd_id in
        <foreach item="sdId" collection="array" open="(" separator="," close=")">
            #{sdId}
        </foreach>
    </delete>
</mapper>