<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cx.order.mapper.OrderSalesDetailsMapper">

    <resultMap type="OrderSalesDetails" id="OrderSalesDetailsResult">
        <result property="sdId"    column="sd_id"    />
        <result property="srdId"    column="srd_id"    />
        <result property="sCode"    column="s_code"    />
        <result property="gCode"    column="g_code"    />
        <result property="purchaseQuantity"    column="purchase_quantity"    />
        <result property="aiStock"    column="ai_stock"    />
        <result property="suPrice"    column="su_price"    />
        <result property="salesVolume"    column="sales_volume"    />
        <result property="salesAmount"    column="sales_amount"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDelte"    column="is_delte"    />
    </resultMap>

    <sql id="selectOrderSalesDetailsVo">
        select sd_id, srd_id, s_code, g_code, purchase_quantity, ai_stock, su_price, sales_volume, sales_amount, remark, create_by, create_time, update_by, update_time, is_delte from order_d_sales
    </sql>

    <select id="selectOrderSalesDetailsList" parameterType="OrderSalesDetails" resultMap="OrderSalesDetailsResult">
        <include refid="selectOrderSalesDetailsVo"/>
        <where>
            <if test="srdId != null "> and srd_id = #{srdId}</if>
            <if test="sCode != null  and sCode != ''"> and s_code = #{sCode}</if>
            <if test="gCode != null  and gCode != ''"> and g_code = #{gCode}</if>
            <if test="purchaseQuantity != null "> and purchase_quantity = #{purchaseQuantity}</if>
            <if test="aiStock != null "> and ai_stock = #{aiStock}</if>
            <if test="suPrice != null "> and su_price = #{suPrice}</if>
            <if test="salesVolume != null "> and sales_volume = #{salesVolume}</if>
            <if test="salesAmount != null "> and sales_amount = #{salesAmount}</if>
            <if test="isDelte != null "> and is_delte = #{isDelte}</if>
        </where>
    </select>

    <select id="selectOrderSalesDetailsBySdId" parameterType="Long" resultMap="OrderSalesDetailsResult">
        <include refid="selectOrderSalesDetailsVo"/>
        where sd_id = #{sdId}
    </select>

    <insert id="insertOrderSalesDetails" parameterType="OrderSalesDetails" useGeneratedKeys="true" keyProperty="sdId">
        insert into order_d_sales
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="srdId != null">srd_id,</if>
            <if test="sCode != null and sCode != ''">s_code,</if>
            <if test="gCode != null and gCode != ''">g_code,</if>
            <if test="purchaseQuantity != null">purchase_quantity,</if>
            <if test="aiStock != null">ai_stock,</if>
            <if test="suPrice != null">su_price,</if>
            <if test="salesVolume != null">sales_volume,</if>
            <if test="salesAmount != null">sales_amount,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDelte != null">is_delte,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="srdId != null">#{srdId},</if>
            <if test="sCode != null and sCode != ''">#{sCode},</if>
            <if test="gCode != null and gCode != ''">#{gCode},</if>
            <if test="purchaseQuantity != null">#{purchaseQuantity},</if>
            <if test="aiStock != null">#{aiStock},</if>
            <if test="suPrice != null">#{suPrice},</if>
            <if test="salesVolume != null">#{salesVolume},</if>
            <if test="salesAmount != null">#{salesAmount},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDelte != null">#{isDelte},</if>
        </trim>
    </insert>

    <update id="updateOrderSalesDetails" parameterType="OrderSalesDetails">
        update order_d_sales
        <trim prefix="SET" suffixOverrides=",">
            <if test="srdId != null">srd_id = #{srdId},</if>
            <if test="sCode != null and sCode != ''">s_code = #{sCode},</if>
            <if test="gCode != null and gCode != ''">g_code = #{gCode},</if>
            <if test="purchaseQuantity != null">purchase_quantity = #{purchaseQuantity},</if>
            <if test="aiStock != null">ai_stock = #{aiStock},</if>
            <if test="suPrice != null">su_price = #{suPrice},</if>
            <if test="salesVolume != null">sales_volume = #{salesVolume},</if>
            <if test="salesAmount != null">sales_amount = #{salesAmount},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDelte != null">is_delte = #{isDelte},</if>
        </trim>
        where sd_id = #{sdId}
    </update>

    <delete id="deleteOrderSalesDetailsBySdId" parameterType="Long">
        delete from order_d_sales where sd_id = #{sdId}
    </delete>

    <delete id="deleteOrderSalesDetailsBySdIds" parameterType="String">
        delete from order_d_sales where sd_id in
        <foreach item="sdId" collection="array" open="(" separator="," close=")">
            #{sdId}
        </foreach>
    </delete>
</mapper>